@model IEnumerable<LostandFound.Models.User>

@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserList Message</h2>
<p>
    @Html.ActionLink("New Users Message", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPassWord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Que1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ans1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Que2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ans2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserPassWord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Que1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ans1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Que2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ans2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            <img src="@item.Image" height="50" width="50" />
        </td>
        <td>
            @Html.ActionLink("Waring", "Waring", new { id=item.UID }) |
            @Html.ActionLink("Remove", "Delete", new { id=item.UID })
        </td>
    </tr>
}

</table>
