@model IEnumerable<LostandFound.Models.Goods>

@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Post</h2>

<p>
    @Html.ActionLink("Create New", "Create","News")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemType.TypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoodsName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoodsImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemType.TypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoodsName)
        </td>
        <td>
            <img src="@item.GoodsImage" width="50" height="50"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            <a href="/News/Edit?id=@item.GID">Edit</a>|
            <a href="/News/Details?id=@item.GID">Details</a> |
            <a href="/News/Delete?id=@item.GID">Delete</a>
        </td>
    </tr>
}

</table>
